.toast61-container {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: center;
  flex-direction: row;
  padding-bottom: 16px;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.toast61-header {
  gap: var(--dl-space-space-unit);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.toast61root-class-name {
  width: auto;
}
@media(max-width: 767px) {
  .toast61-header {
    gap: var(--dl-space-space-unit);
    flex: 1;
    align-items: flex-start;
    flex-direction: column;
  }
}
